<div class="container">
  <div class="container1">
    <div class="nav">
      <img src="../../../assets/fotoa.png" alt="">
      <h2><i class="small material-icons">play_circle_filled</i>CREATIVE</h2>
      <br>
      <button id="dash" type="button" class="btn btn-outline-light" routerLink="/dashboard"><i class="small material-icons">data_usage</i>DASHBOARD</button>
      <button id="user" type="button" class="btn btn-outline-light" routerLink="/user-profile"><i class="small material-icons">person_pin</i>USER PROFILE</button>
      <button id="table" type="button" class="btn btn-outline-light " routerLink="/table-list"><i class="small material-icons">assignment</i>TABLE LIST</button>
      <button id= "ty" type="button" class="btn btn-outline-light" routerLink="/typography"><i class="small material-icons">assessment</i>TYPOGRAPHY</button>
      <button id="ico" type="button" class="btn btn-outline-light " routerLink="/icons"><i class="small material-icons">blur_circular</i>ICONS</button>
      <button id="map" type="button" class="btn btn-outline-light" routerLink="/maps"><i class="small material-icons">map</i>MAPS</button>
      <button id="noti" type="button" class="btn btn-outline-light" routerLink="/notifications"><i class="small material-icons">notifications</i>NOTIFICATIONS</button>
    </div>
  </div>
  <div class="container2">
    <router-outlet></router-outlet>
  </div>
</div>

